# Create a new option in menuconfig
config GOOGLE_FHD
    bool "Basic print test to console"
    default n   # Set the library to be disabled by default
    select CONFIG_MBEDTLS
    select CONFIG_MBEDTLS_BUILTIN
    select CONFIG_MBEDTLS_PSA_CRYPTO_C

    help
        Adds say_hello() function to print a basic message to the console.