# Create a new option in menuconfig
config GOOGLE_FHD
    bool "Basic print test to console"
    default n   # Set the library to be disabled by default
    default n if MBEDTLS && MBEDTLS_BUILTIN && CUSTOM_MBEDTLS_CFG_FILE

    help
        Adds say_hello() function to print a basic message to the console.